h1{
    color: darkorange;
    text-align: center;
  }

body{
  background-color: lightcyan;
  font-family: 'Segoe UI';
  
}

#edit{
  font-size: 15px;
}

@media screen and (min-width: 480px) {
  div{
    background: lightseagreen;
  }
  .text {
    font-size: 16px;
  }
}


